<div class="planets-grid" *ngIf="planetsState.allPlanets?.results">
  <div
    class="planets-grid__item"
    *ngFor="let planet of planetsState.allPlanets?.results"
  >
    <h1>{{ planet.name }}</h1>

    <div>
      <h3>Info:</h3>
      <p>Rotation period: {{ planet.rotation_period }}</p>
      <p>Orbital period: {{ planet.orbital_period }}</p>
      <p>Diameter: {{ planet.diameter }}</p>
      <p>Climate: {{ planet.climate }}</p>
      <p>Gravity: {{ planet.gravity }}</p>
      <p>Terrain: {{ planet.terrain }}</p>
      <p>Surface water: {{ planet.surface_water }}</p>
      <p>Population: {{ planet.population }}</p>
    </div>

    <button (click)="viewPlanet(planet.url)">See more</button>
  </div>
</div>
